.header-top {
    background-color: #222222;
    color: #F3F3F3;    
}

.header-bot {
    background-color: #F0A83E;
}


.sociales {
    background-color: #3C2313;
}

.derechos {
    background-color: #222222;
}

